<p-toast style="position: relative; z-index:10000"></p-toast>

    <div class="container-fluid">
      <div class="card" style="margin: 1%;font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif">
        <h5 style="margin: 1%">Cadastrar cliente</h5>
        <div class="container">
          <div class="form-row">
            <div class="form-group col-md-6">
              <span>Nome </span><span style="color: red"> *</span>
              <input type="text" [maxLength]="100" [(ngModel)]="cliente.nome" [pKeyFilter]="alphanumericos" pInputText class="form-control" id="nome" placeholder="Nome">
            </div>
            <div class="form-group col-md-6">
              <span>CPF</span><span style="color: red"> *</span><br>
              <p-inputMask [(ngModel)]="cliente.cpf"  mask="999.999.999-99"></p-inputMask>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6" style="margin-top: 0.5%">
              <span>CEP</span><span style="color: red"> *</span><br>
              <p-inputMask [(ngModel)]="cliente.cep"  (change)="buscaEndereco()"  mask="99999-999"></p-inputMask>
            </div>
            <div class="form-group col-md-6">
              <label for="cidade">CIDADE</label><span style="color: red"> *</span>
              <input type="text"  [(ngModel)]="cliente.cidade" pInputText class="form-control" id="cidade" placeholder="Cidade">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="logradouro">LOGRADOURO</label><span style="color: red"> *</span>
              <input type="text"  [(ngModel)]="cliente.logradouro" pInputText class="form-control" id="logradouro" placeholder="Logradouro">
            </div>
            <div class="form-group col-md-5">
              <label for="bairro">BAIRRO</label><span style="color: red"> *</span>
              <input type="text"  [(ngModel)]="cliente.bairro" pInputText class="form-control" id="bairro" placeholder="Bairro">
            </div>
            <div class="form-group col-md-2">
              <label for="uf">UF</label><span style="color: red"> *</span>
              <input type="text"  [(ngModel)]="cliente.uf" pInputText class="form-control" id="uf" placeholder="UF">
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="complemento">Complemento</label>
              <textarea type="text" [(ngModel)]="cliente.complemento" pInputTextarea class="form-control" id="complemento" placeholder="Complemento"></textarea>
            </div>
            <div class="form-row">
              <div  class="form-group col-md-11">
                <label for="email">EMAIL</label><span style="color: red"> * </span><a  href="javascript:void(0);" (click)="addEmail()"><i style="size: 2em" class="fas fa-plus-square"></i></a>
                <div *ngFor="let email of emailList;let i=index" style="padding: 0">
                <input type="email" (focusout)="validaEmail(i)" [(ngModel)]="emailList[i].email" width="max-content" pInputText class="form-control" id="email" placeholder="Email"><a *ngIf="emailList.length > 1" (click)="removeEmail(i)" href="javascript:void(0);"><i  style="color: red" class="far fa-times-circle"></i></a>
                </div>
                </div>
              <div class="form-group col-md-12">
                <span>TELEFONE</span><span style="color: red"> * </span><a  href="javascript:void(0);" (click)="addTelefone()"><i style="size: 2em" class="fas fa-plus-square"></i></a><br>
                <div *ngFor="let telefone of telefoneList;let i=index" style="padding: 0">
                <p-inputMask [mask]="tipoMask(i)"  [(ngModel)]="telefoneList[i].numero" placeholder="Telefone"></p-inputMask><a *ngIf="telefoneList.length > 1" (click)="removeNumero(i)" href="javascript:void(0);"><i  style="color: red" class="far fa-times-circle"></i></a>
                <select (change)="onSelect($event.target.value, i)" style="margin-left: 1%">
                  <option [value]="-1" disabled selected>Tipo</option>
                  <option [value]="1">Celular</option>
                  <option [value]="2">Fixo</option>
                </select>
                </div>
                </div>
            </div>
            <div style="text-align: right; margin-bottom: 2%">
              <button (click)="cadastrarCliente()" [disabled]="validaCampos()" class="btn btn-primary">Cadastrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

