<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand"  href="javascript:void(0);" (click)="home()"><i class="fas fa-home"></i></a>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a><i class="fas fa-user"></i> {{usuario}}</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="sair()">Sair</a>
        </div>
      </li>
      <li class="nav-item">

      </li>
    </ul>
  </div>
</nav>
