<div class="container-fluid" style="padding: 50px">
  <div class="card" style="margin: 1%;font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif">
      <div style="padding: 10px">
        <h2 style="align-self: center">Projeto CRUD Clientes</h2>
        <h5>-Realizado ultilizando:</h5>
        <h6>Front-end: Angular 12, com o uso da biblioteca de UI <i>PrimeNG</i></h6>
        <h6>Back-end: SpringBoot 2.4.4</h6>
        <h6>Persistencia de dados: Hibernate 5.4.32 com JPA</h6>
        <h6>Banco: Postgres</h6><br><br><br>
        <h6>Neste projeto é possível cadastrar, editar, deletar e visualizar clientes com as seguintes informações:</h6>
        <h6>Nome, CPF, CEP, Cidade, Logradouro, Bairro, UF, Complemento, multiplos Emails e multiplos telefones </h6>
        <h6>Existe uma autenticação de roles de usuário usando <i>OAUTH2</i> atravéz do <i>JWT</i>, impedindo que o usuário <i>comum</i> acesse métodos que não sejam de leitura, essa validação se aplica
          tanto no nível de front-end quando no de back-end, ultilizando métodos de <i>Authorization Server</i> e CORS</h6>
        <br><br><br><br>
        <h5 style="align-self: end">Henrique Bose de Oliveira</h5>
      </div>
    </div>
</div>
